@font-face {
    font-family: 'nyt-franklin';
    src: url('/static/franklin-normal-600.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'nyt-franklin';
    src: url('/static/franklin-normal-700.ttf');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-color: #ba81c6;
    --blue-color: #b2c4f0;
    --green-color: #a1c45b;
    --yellow-color: #f8df6d;
}

.purple {
    background-color: var(--purple-color);
}

.blue {
    background-color: var(--blue-color);
}

.green {
    background-color: var(--green-color);
}

.yellow {
    background-color: var(--yellow-color);
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 0 5px;
    background-color: white;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    padding: 1em 1.5em;
    cursor: pointer;
    font-family: 'nyt-franklin';
    font-size: medium;
    color: black;
}

.buttons button[disabled] {
    border-color: #6d6d6d;
    cursor: default;
    color: #6d6d6d;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: x-large;
}

header a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

header a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#game {
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
    height: 40px;
}

footer span {
    color: #5e5e5e;
    margin: 0 auto;
    font-size: small;
    max-width: 90%;
}

footer a {
    position: absolute;
    right: 10px;
}