@font-face {
    font-family: 'nyt-franklin';
    src: url('/static/franklin-normal-600.ttf');
    font-weight: 400;
    font-display: auto;
}

@font-face {
    font-family: 'nyt-franklin';
    src: url('/static/franklin-normal-700.ttf');
    font-weight: 700;
    font-display: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-color: #ba81c6;
    --blue-color: #b2c4f0;
    --green-color: #a1c45b;
    --yellow-color: #f8df6d;
    --color-primary: #000;
    --color-background: #fff;
    --color-header: var(--purple-color);
    --color-footer: #5e5e5e;
    --color-mygames: rgb(237 238 242);
    --color-create-input: #fff;
    --color-secondary: var(--purple-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #efefef;
        --color-background: #262626;
        --color-header: var(--blue-color);
        --color-footer: #c4c2c2;
        --color-mygames: rgb(49, 49, 49);
        --color-create-input: #bdbdbd;
        --color-secondary: var(--blue-color);
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-primary);
}

.purple {
    background-color: var(--purple-color);
}

.blue {
    background-color: var(--blue-color);
}

.green {
    background-color: var(--green-color);
}

.yellow {
    background-color: var(--yellow-color);
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 0 5px;
    background-color: var(--color-background);
    border-radius: 50px;
    border-color: var(--color-primary);
    border-style: solid;
    padding: 1em 1.5em;
    cursor: pointer;
    font-family: 'nyt-franklin';
    font-size: medium;
    color: var(--color-primary);
}

.buttons button[disabled] {
    border-color: #6d6d6d;
    cursor: default;
    color: #6d6d6d;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 40px;
    background-color: var(--color-header);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: x-large;
}

header a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

header a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

#game {
    flex: 1;
}

.sidebar-padding {
    margin-left: 300px;
}

footer {
    display: flex;
    align-items: center;
    height: 40px;
}

footer span {
    color: var(--color-footer);
    margin: 0 auto;
    font-size: small;
    max-width: 90%;
}

footer a {
    position: absolute;
    right: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-background);
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    border-right: 1px solid var(--color-secondary);
    z-index: 2;
    gap: 25px;
}

.links a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    display: flex;
    flex-direction: column;
}

.links button {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #aaa;
    background-color: var(--color-background);
    text-align: left;
    border-radius: 8px;
    color: var(--color-primary);
    font-size: 16px;
    font-family: 'nyt-franklin';
}

.links button:hover {
    background-color: var(--color-mygames);
}

.void {
    display: none !important;
}

#sidebar-hamburger {
    position: absolute;
    z-index: 99;
    top: 8px;
    left: 8px;
    color: rgb(24, 24, 24);
    cursor: pointer;
}

.wrap {
    user-select: none;
}

@media (max-width:900px) {
    .links {
        display: none;
    }

    .sidebar-padding {
        margin-left: 0px;
    }
}

.open {
    display: flex;
}

@media (prefers-color-scheme: dark) {
    footer img {
        filter: invert(1);
    }
}