{{define "head"}}{{end}}
{{define "board"}}
<div id="oa">
    <span class='{{if eq "three" .Result}}oneaway{{else}}oneaway hidden{{end}}'>One Away!</span>
</div>
<div id="connections" class="board0">
    {{range $i, $a := .GameState.Answers -}}
    <div class="header {{getColor .Category.CategoryId}}">
        <span><b>{{.Category.CategoryName}}</b></span>
        <span>{{.Words}}</span>
    </div>
    {{- end}}
    {{range $i, $a := .GameState.Words -}}
    {{$IsLongWord := longWords .Word}}
    {{if eq false .Solved -}}
    <div id="word{{.Id}}"
        class="{{if eq true .Selected}}word selected{{else}}word{{end}}{{if eq $IsLongWord true }} long{{end}}">
        <span>{{$a.Word}}</span>
    </div>
    {{- end}}
    {{- end}}
</div>
<div class="guesses"><span style="font-family:'nyt-franklin';">Mistakes Remaining:</span>{{range $idx := times
    .GameState.GuessesRemaining}}<span class="guesses-bubble"></span>{{end}}</div>

<div class="gamestatus">{{.Status}}</div>
{{ if .GameOverData.IsGameOver}}
<div id="gameOverModal" class="modal">
    <div class="modal-content">
        <span class="close" id="close-modal">&times;</span>
        <span id="goMsg">{{.GameOverData.Message}}</span>
        {{.GameOverData.Guy}}
    </div>
</div>
{{end}}
{{end}}