{{define "head"}}
<link rel="stylesheet" href="/static/game.css">
{{end}}


{{ define "game" }}
<div id="board">
    {{template "board" .}}
</div>
<div class="buttons">
    <button id="shuffleButton">Shuffle</button>
    <button id="deselectButton">Deselect All</button>
    <button id="checkButton" disabled>Submit</button>
    {{if eq .Debug true}}
    <button id="resetButton">Reset</button>
    {{end}}
</div>

<div id="debug">

</div>
<div id="gameover">
</div>
<script src="/static/game.js" type="module"></script>

{{end}}