package templates

templ EmptyHead() {
	<title>Error | hearteyesemoji</title>
}

templ Body404() {
	<div style="display: flex;flex-direction: column; font-family:'nyt-franklin';">
		<span style="text-align: center;font-size: 200px;margin-top: 1em;">404</span>
		<span style="text-align: center;">Aint nobody finding that</span>
	</div>
}
